/*.my-kudo-card {
    width: 100vw;
}

.my-kudo-card-image {
  width: 90vw;
  height: auto;
}*/

:host {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mat-card {
    width: 500px;
    margin: 20px;
    padding: 30px;
}

.my-kudo-card-image {
    width: 500px;
}

.mat-card-footer {
    padding-left: 15px;
}
