<p>share-kudo works!</p>

<!--<mat-card class="my-kudo-card" *ngIf="kudo">
    <img src="{{ baseImageUrl }}" class="my-kudo-card-image" />
    <textarea disabled id="textAreaForImage" [style.font-family]="kudo.fontFamily">{{ kudo?.text }}</textarea>
    <mat-card-footer>
        <div class="generalInfo">
            <p>Received from {{ kudo.sender.name }}</p>
            <p>{{ kudo.createdOn | date: 'EEEE d/M/yy h:mm' }}</p>
        </div>
        <share-buttons
                class="share-buttons-align-center"
                [theme]="'default'"
                [include]="['facebook', 'twitter', 'linkedin']"
                [show]="3"
                [autoSetMeta]="false"
                [url]="baseLocation + '/public-kudo/' + kudo._id"
                [title]="'This is a test title'"
            >
            </share-buttons>
    </mat-card-footer>
</mat-card>-->
