<div class="container">
    <div class="fontList">
        <ul>
            <li>
                <button
                    class="fontsBtn"
                    id="font1"
                    (click)="changeFont('Comic Sans MS')"
                    [class.active]="'Comic Sans MS' === fontFamily"
                >
                    Comic Sans MS
                </button>
            </li>
            <li>
                <button
                    class="fontsBtn"
                    id="font2"
                    (click)="changeFont('Times New Roman')"
                    [class.active]="'Times New Roman' === fontFamily"
                >
                    Times New Roman
                </button>
            </li>
            <li>
                <button
                    class="fontsBtn"
                    id="font3"
                    (click)="changeFont('Lexend Zetta')"
                    [class.active]="'Lexend Zetta' === fontFamily"
                >
                    Lexend Zetta
                </button>
            </li>
        </ul>
    </div>

    <mat-card class="my-kudo-card">
        <div class="containerImage">
            <img src="{{ baseImageUrl }}" class="my-kudo-card-image" />
            <textarea
                id="textAreaForImage"
                [style.font-family]="fontFamily"
                placeholder="Type some text here..."
                #textarea
            ></textarea>
        </div>
        <div class="containerBtn">
            <span class="invalid" [style.visibility]="isTextareaFilled ? 'hidden' : 'visible'"
                >Please, type something nice</span
            >
            <button type="button" class="btnNext" (click)="createCanvas(textarea.value)">Next</button>
        </div>
    </mat-card>
</div>
