.container {
    margin: auto;
    width: fit-content;
}

.fontList {
    margin: auto;
    width: fit-content;
}

.mat-card {
    padding: 20px;
}

.my-kudo-card {
    margin-bottom: 30px;
}

#textAreaForImage {
    position: absolute;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
    resize: none;
    color: #c2185b;
    top: 140px;
    left: 55px;
    width: 600px;
    height: 350px;
    line-height: 33px;
}

ul {
    list-style: none;
}
li {
    display: inline-block;
    margin-right: 15px;
    height: 50px;
}

#font1 {
    font-family: 'Comic Sans MS';
}

#font2 {
    font-family: 'Times New Roman';
}

#font3 {
    font-family: 'Arial Black';
}

.fontsBtn {
    background: none;
    border: none;
    color: #c2185b;
    outline: none;
    height: 50px;
    font-size: 20px;
}

.fontsBtn:hover:not(.active) {
    background: url('../../../assets/splatter_small_trans.png') no-repeat;
    color: white;
}

.active {
    background: url('../../../assets/splatter_small.png') no-repeat;
    color: white;
}

.containerBtn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btnNext {
    height: 40px;
    width: 70px;
    border: none;
    background-color: #c2185b;
    color: white;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}

.btnNext:hover {
    background-color: #a1174d;
}

.invalid {
    color: red;
    margin: auto 0;
}

@media only screen and (max-width: 750px) {
    ul {
        display: flex;
        justify-content: center;
    }

    .containerImage {
        width: 500px;
    }

    .my-kudo-card-image {
        width: 500px;
    }

    #textAreaForImage {
        font-size: 15px;
        top: 110px;
        left: 45px;
        line-height: 25px;
        width: 450px;
        height: 250px;
    }
}

@media only screen and (max-width: 600px) {
    .my-kudo-card {
        width: 300px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .my-kudo-card-image {
        width: 300px;
    }

    .fontsBtn,
    .btnNext {
        font-size: 15px;
    }

    #textAreaForImage {
        font-size: 12px;
        top: 70px;
        left: 35px;
        width: 275px;
        height: 150px;
        line-height: 19px;
    }
}
