.container {
    margin: auto;
    width: fit-content;
}

.fontList {
    margin: auto;
    width: fit-content;
}

.mat-card {
    //padding: 20px;
    width: 500px;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 0 12px 2px #d7d7d5;
}

.mat-card-footer {
    background-color: #eee;
    padding: 15px 15px 15px 13px;
}

.my-kudo-card {
    margin-bottom: 30px;
}

#textAreaForImage {
    position: absolute;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
    resize: none;
    color: rgb(105, 190, 40);
    top: 149px;
    left: 94px;
    width: 355px;
    height: 225px;
    line-height: 35.5px;
}

.my-kudo-card-image {
    width: 500px;
}

ul {
    list-style: none;
}
li {
    display: inline-block;
    margin-right: 15px;
    height: 50px;
}

#font1 {
    font-family: 'Comic Sans MS';
}

#font2 {
    font-family: 'Times New Roman';
}

#font3 {
    font-family: 'Lexend Zetta';
}

.fontsBtn {
    background: none;
    border: none;
    /* color: rgb(105, 190, 40);*/
    color: #424242;
    outline: none;
    height: 50px;
    font-size: 20px;
}

.fontsBtn:hover:not(.active) {
    background: url('../../../assets/splatter_small_green_trans.png') no-repeat;
    color: #424242;
}

.active {
    background: url('../../../assets/splatter_small_green.png') no-repeat;
    color: #424242;
}

.containerBtn {
    display: flex;
    justify-content: space-between;
}

.btnNext {
    height: 40px;
    width: 70px;
    background-color: rgb(105, 190, 40);
    color: white;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: 0.2s background-color ease-in-out;
}

.btnNext:hover {
    background-color: #5a8e2f;
}

.invalid {
    color: red;
    margin: auto 0;
}

.showEmoji {
    background: none;
    border: none;
    color: #dbdbdb;
    position: absolute;
    top: 152px;
    right: 50px;
    font-size: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    transition: 0.2s background-color ease-in-out;
}

.showEmoji:hover {
    color: rgb(105, 190, 40);
    border-color: rgb(105, 190, 40);
}

emoji-mart {
    position: absolute;
    top: 180px;
    right: 50px;
}

@media only screen and (max-width: 992px) {
    #textAreaForImage {
        line-height: 35.5px;
        top: 149px;
        left: 92px;
        width: 355px;
        height: 225px;
    }

    .showEmoji {
        top: 100px;
        right: 25px;
    }

    emoji-mart {
        top: 130px;
        right: 26px;
    }
}

@media only screen and (max-width: 750px) {
    ul {
        display: flex;
        justify-content: center;
    }

    .containerImage {
        width: 500px;
    }

    .my-kudo-card-image {
        width: 500px;
    }

    #textAreaForImage {
        font-size: 15px;
        top: 149px;
        left: 95px;
        line-height: 35.5px;
        width: 352px;
        height: 202px;
    }
}

@media only screen and (max-width: 600px) {
    .my-kudo-card {
        width: 300px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .containerImage {
        width: 300px;
    }

    .my-kudo-card-image {
        width: 300px;
    }

    .fontsBtn,
    .btnNext {
        font-size: 15px;
    }

    #textAreaForImage {
        font-size: 10px;
        top: 96px;
        left: 65px;
        width: 220px;
        height: 125px;
        line-height: 21px;
    }
}

@media only screen and (max-width: 480px) {
    .showEmoji {
        display: none;
    }
}
