<div class="allKudosHeader">
    <h1>Wall Of Fame</h1>
    <form class="searchForm">
        <mat-form-field class="formFieldSelect" *ngIf="width > 720">
            <select
                matNativeControl
                required
                [(value)]="selected"
                (change)="changeNumberOfKudosShown($event.target.value)"
            >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </mat-form-field>
        <mat-form-field>
            <input
                matInput
                placeholder="Search by name"
                class="form-control"
                type="text"
                name="search"
                [(ngModel)]="searchText"
                autocomplete="off"
            />
        </mat-form-field>
    </form>
</div>
<!-- <button (click)="addKudoTest()"></button> -->
<div class="allKudos">
    <mat-card @items class="my-kudo-card" *ngFor="let kudo of kudos | filter: searchText" [ngStyle]="styleMatCard">
        <img src="{{ getKudoImage(kudo.kudoId) }}" class="my-kudo-card-image" [ngStyle]="styleImage" />
        <textarea disabled class="textAreaForImage" [style.font-family]="kudo.fontFamily" [ngStyle]="styleTextarea">{{
            kudo.text
        }}</textarea>
        <p class="receiverText" [style.font-family]="kudo.fontFamily" [ngStyle]="styleReceiver">
            Receiver: {{ kudo.receiver?.name }}
        </p>
        <img class="corner topLeft" src="../../assets/EURICOM_CURVE.png" [ngStyle]="styleCornerTopLeft" />
        <img class="corner topRight" src="../../assets/EURICOM_CURVE.png" [ngStyle]="styleCornerTopRight" />
        <img class="corner bottomLeft" src="../../assets/EURICOM_CURVE.png" [ngStyle]="styleCornerBottomLeft" />
        <img class="corner bottomRight" src="../../assets/EURICOM_CURVE.png" [ngStyle]="styleCornerBottomRight" />
    </mat-card>
</div>
<div class="getMore">
    <button mat-raised-button type="button" (click)="getWallOfFame()" class="allKudosButton">Get more</button>
</div>
