:host {
    /*width: 1600px;*/
    margin: 0 auto;
    display: block;
}

.allKudosButton {
    margin: 15px;
}

.allKudos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
}

.mat-card {
    width: 500px;
    box-shadow: none;
    padding: 0 !important;
    margin: 16px;
}

.my-kudo-card-image {
    width: 500px;
}

.allKudosHeader {
    text-align: center;
    position: relative;
}

#textAreaForImage {
    position: absolute;
    padding: 0px;
    margin: 0px;
    font-size: 22px;
    border: none;
    background: none;
    outline: none;
    resize: none;
    color: rgb(105, 190, 40);
    top: 148px;
    left: 90px;
    width: 355px;
    height: 225px;
    line-height: 35.5px;
}

.searchForm {
    position: absolute;
    right: 100px;
    top: 10px;
}

.mat-input-element {
    caret-color: rgb(105, 190, 40);
}

.formFieldSelect {
    width: 40px;
    margin-right: 20px;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: white !important;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
}

.receiverText {
    color: rgb(105, 190, 40);
    position: absolute;
    bottom: 30px;
    left: 70px;
    font-size: 15px;
}

.getMore {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
/*
@media only screen and (max-width: 1800px) {
    :host {
        max-width: 1064px;
    }
}
*/

/*@media only screen and (max-width: 1200px) {
    :host {
        max-width: 500px;
    }

    .searchForm {
        position: relative;
        text-align: left;
        margin-left: 20px;
    }
}
*/
@media only screen and (max-width: 720px) {
    :host {
        width: 300px;
    }
    /*  .mat-card {
        width: 300px;
    }

    .my-kudo-card-image {
        width: 300px;
    }

    #textAreaForImage {
        top: 95px;
        left: 61px;
        font-size: 14px;
        width: 225px;
        height: 150px;
        line-height: 21.5px;
    }*/

    p {
        font-size: 15px;
    }

    .searchForm {
        position: relative;
        padding-left: 16px;
        margin-left: -110px;
    }
    .receiverText {
        font-size: 10px;
        bottom: 20px;
        left: 43px;
    }
}

@media only screen and (max-width: 480px) {
    .searchForm {
        margin-left: 55px;
    }
}
