<div class="allKudosHeader">
  <h1>Wall Of Fame</h1>
  <form class="searchForm">
    <mat-form-field>
      <input matInput placeholder="Search by name" class="form-control" type="text" name="search"
        [(ngModel)]="searchText" autocomplete="off" />
    </mat-form-field>
  </form>
</div>

<div class="allKudos">
  <mat-card class="my-kudo-card" *ngFor="let kudo of kudos | filter: searchText">
    <img src="{{ getKudoImage(kudo.kudoId) }}" class="my-kudo-card-image" />
    <textarea disabled id="textAreaForImage" [style.font-family]="kudo.fontFamily">{{ kudo.text }}</textarea>
  </mat-card>
  <div>
    <button mat-raised-button type="button" (click)="getWallOfFame()" class="allKudosButton"> Get more </button>
  </div>
</div>
