:host {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mat-card {
    width: 500px;
    margin: 20px;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 0 12px 2px #d7d7d5;
    transition: all 0.2s ease-in-out;
}

.mat-card:hover {
    transform: scale(1.05);
}

.my-kudo-card-image {
    width: 500px;
}
