<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>KudoBox</h1>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button (click)="logout()"> Logout </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<notifier-container></notifier-container>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/kudos'" (click)="sidenav.toggle()"> New Kudo </a>
            <a mat-list-item [routerLink]="'/my-kudos'" (click)="sidenav.toggle()">
                My Kudos <span class="kudoCount" *ngIf="kudoCount > 0">({{ kudoCount }})</span>
            </a>
            <a mat-list-item [routerLink]="'/wall-of-fame'" (click)="sidenav.toggle()"> Wall of fame </a>
            <a mat-list-item (click)="sidenav.toggle()" mat-list-item>Close</a>
        </mat-nav-list>
    </mat-sidenav>
    dzadzadzadza
    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <app-scroll-top></app-scroll-top>
    </mat-sidenav-content>
</mat-sidenav-container>
