.allKudos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mat-card {
    width: 500px;
    margin: 20px;
    padding: 30px;
}

.my-kudo-card-image {
    width: 500px;
}

.mat-card-footer {
    padding-left: 15px;
}

.allKudosHeader {
    text-align: center;
}

.searchForm {
    position: absolute;
    right: 135px;
    top: 10px;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: white !important;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
}

@media only screen and (max-width: 992px) {
    .searchForm {
        position: relative;
        padding-left: 20px;
        text-align: left;
        right: 0;
        top: 0;
    }

    .mat-card {
        width: 300px;
    }

    .my-kudo-card-image {
        width: 300px;
    }
}
