<mat-card class="carousel-card">
  <mat-card-header>
    <mat-card-title>Choose a card to begin with</mat-card-title>
  </mat-card-header>
  <div class="carousel-container">
    <mat-carousel #matCarousel [timings]="timings" [autoplay]="autoplay" [interval]="interval" [loop]="loop"
      [hideArrows]="hideArrows" [hideIndicators]="hideIndicators" [color]="color" [maxWidth]="maxWidth"
      [proportion]="proportion" [useKeyboard]="useKeyboard" [useMouseWheel]="useMouseWheel" [orientation]="orientation"
      [slides]="slides">


      <mat-carousel-slide *ngFor="let slide of slidesList; let i = index" #matCarouselSlide image="{{slide.url}}"
        [overlayColor]="overlayColor" [hideOverlay]="hideOverlay">
        <a [routerLink]="['/kudo/create/', slide.id]" style="display: block; height:100%;"></a>
      </mat-carousel-slide>


    </mat-carousel>
  </div>
</mat-card>
