h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.my-kudo-card {
    width: 500px;
    box-shadow: none;
    margin: 10px;
    padding-bottom: 30px;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
}

.selected {
    border: 1px solid #69be28;
}

.captureContainer {
    position: relative;
}

.my-kudo-card-image {
    width: 500px;
    display: block;
}

.mat-card-footer {
    float:right;
}

.textAreaForImage {
    position: absolute;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
    resize: none;
    color: rgb(105, 190, 40);
    //top: 149px;
    top: 132px;
    //top: 0;
    //left: 89px;
    left: 77px;
    width: 355px;
    height: 225px;
    line-height: 35.5px;
    display: block;
}

.noKudos {
    font-size: 25px;
    text-align: center;
}

.btnNext {
    height: 40px;
    width: 100px;
    border: none;
    background-color: rgb(105, 190, 40);
    color: white;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    margin: 15px 15px 0 0;
}

.btnNext:hover {
    background-color: #5a8e2f;
}

.generalInfo {
  position: absolute;
  bottom: 8px;
  left: 50px;
  color: #69be28;
  width: 100%;
}

p {
  margin: 0;
}

.checkBtn {
  background: none;
  border: none;
  font-size: 30px;
  color: #69be28;
  cursor: pointer;
}

.checkBtn:focus {
  outline:0;
}

footer {
  background-color: #d4d4d4;
  height: 64px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
-webkit-box-shadow: 0px 5px 20px -1px #424242;
-moz-box-shadow: 0px 5px 20px -1px #424242;
box-shadow: 0px 5px 20px -1px #424242;
}

footer p {
  font-size: 20px;
  padding: 20px 0px 20px 50px;
  color: #424242;
}

.downloadAllBtn {
  position: absolute;
  top: 15px;
  left: 250px;
  background-color: white;
  color: #424242;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.downloadAllBtn:hover {
  background-color: #e7f5dc;
}

@media only screen and (max-width: 992px) {
    .mat-card {
        width: 300px;
    }

    .my-kudo-card-image {
        width: 300px;
    }

    .textAreaForImage {
        top: 79px;
        left: 45px;
        font-size: 14px;
        width: 225px;
        height: 125px;
        line-height: 21.5px;
    }

    .generalInfo {
      bottom: 4px;
      left: 30px;
    }

    p {
        font-size: 12px;
    }
}
/*
@media only screen and (max-width: 600px) {
    .mat-card-footer {
        display: block;
    }
}
*/