h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mat-card {
    width: 500px;
    box-shadow: none;
}

.captureContainer {
    position: relative;
}

.my-kudo-card-image {
    width: 500px;
    display: block;
}

.mat-card-footer {
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
}

#textAreaForImage {
    position: absolute;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
    resize: none;
    color: rgb(105, 190, 40);
    //top: 149px;
    top: 132px;
    //top: 0;
    //left: 89px;
    left: 77px;
    width: 355px;
    height: 225px;
    line-height: 35.5px;
    display: block;
}

.noKudos {
    font-size: 25px;
    text-align: center;
}

.btnNext {
    height: 40px;
    width: 70px;
    border: none;
    background-color: rgb(105, 190, 40);
    color: white;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    margin: 15px 15px 0 0;
}

.btnNext:hover {
    background-color: #5a8e2f;
}

@media only screen and (max-width: 992px) {
    .mat-card {
        width: 300px;
    }

    .my-kudo-card-image {
        width: 300px;
    }

    #textAreaForImage {
        top: 79px;
        left: 45px;
        font-size: 14px;
        width: 225px;
        height: 125px;
        line-height: 21.5px;
    }

    p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .mat-card-footer {
        display: block;
    }
}
