.scrollToTop {
    position: fixed;
    bottom: 5px;
    right: 5px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    outline: none;
    background: none;
    border: none;
    margin: 40px;
    color: #c2185b;
}

.scrollToTop:hover {
    color: #a1174d;
}

.fa.fa-arrow-circle-up {
    font-size: 50px;
}
