/* You can add global styles to this file, and also import other style files */
@import '~@ngx-share/button/themes/default/default-theme';
@import '~angular-notifier/styles';

html,
body {
    height: 100%;
    background-color: #424242;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-drawer-container {
    margin-top: -15px;
}
