/* You can add global styles to this file, and also import other style files */
@import '~@ngx-share/button/themes/default/default-theme';
@import '~angular-notifier/styles';
@import '~@ctrl/ngx-emoji-mart/picker';

@import url('https://fonts.googleapis.com/css?family=Lexend+Zetta');
@import url('https://fonts.googleapis.com/css?family=Times+New+Roman');

html,
body {
    height: 100%;
    /*background-color: #6d6e72;*/
    background-color: #eeee;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1200;
    height: 64px;
}

.mat-drawer-container {
    margin-top: -25px;
    color: #424242;
    /*background-color: #424242;*/
    /*background-color: #6d6e72;*/
    background-color: white;
}

.mat-card {
    /*background-color: #6d6e72;*/
    background-color: white;
}

textarea {
    -webkit-appearance: none;
}
